body {
    background-color: whitesmoke;
}
h1 {
    font-size: 80px;
}
.main-text {
    font-size: 50px;
    width: 40%;
    margin: 0px auto;
}
.omikuji {
    background-color: rgb(108, 123, 207);
    text-align: center;
    color: white;
}
.omikuji-form {
    background-color: rgb(106, 106, 209);
    width: 40%;
    padding: 10px;
    color: white;
}